<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
    <title>Proyecto MVC. @ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <h1 class="jumbotron">
            Mi primer proyecto MVC.
        </h1>
        @RenderBody()
    </div>   
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
